<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>upSTARTER</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Raleway:wght@200&family=Syne+Mono&family=Texturina:opsz,wght@12..72,100&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>


<body>
  <header>
    <div class="navbar" arial-label="main navigation">
      <div class="navbar-start">
        <div class="navbar-item">
          <a class="button is-primary" href="/">
            <strong>upSTARTER</strong>
          </a>
          <a class="button is-light all-projects" href="/projects">Projects</a>
        </div>
      </div>
      <div class="navbar-end">
        <nav class="navbar-item">
          {{#if logged_in}}
          <div class="buttons">
            <a class="button is-primary" href="/dashboard">
              <strong>Dashboard</strong>
            </a>
            <a class="button is-light" id="logout">Logout</a>
          </div>
          {{else}}
          <a class="button is-primary" href="/login"><strong>Login</strong></a>
          {{/if}}
        </nav>
      </div>
    </div>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>

  </footer>

  {{#if logged_in}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>