<section>
  <a href="/dashboard" style="float:right">Back to Dashboard</a>
  <h2>Create new project</h2>

  <form class="box new-project-form" id="new-project-form">
    <div class="field form-group">
      <label for="project-title">Title:</label>
      <input name="project-title" class="project-title" type="text" id="project-title"
        placeholder="Insert project title" />
    </div>
    
    <div class="field form-group">
      <label class="label" for="project-desc">Description:</label>
      <div class="control">
        <textarea name="project-desc" class="input form-input" type="text" id="project-desc"
          placeholder="Insert project description" /></textarea>
      </div>
    </div>

    <div class="field form-group">
      <label class="label" for="fund_needed">Funding needed:</label>
      <div class="control">
        <input name="funding" class="input form-input" type="number" id="fund_needed"
          placeholder="How much are you trying in raise?" />
      </div>
    </div>

    <div class="field form-group">
      <button type="submit" class="button is-info create-button">Create</button>
    </div>
  </form>
</section>

<script src="/javascript/createproject.js"></script>