<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Project
  </h2>
  <form class="edit-project-form">
    <div>
      <input name="project-title" id="project-title" type="text" value="{{project.title}}" />
    </div>
    <div>
      <textarea name="project-desc" id="project-desc">{{project.description}}</textarea>
    </div>
    <div>
      Posted on {{format_date project.created_at}}
      <a href="/dashboard/edit/{{post.id}}"></a>
    </div>
    <button type="submit">Save</button>
    <button type="button" class="delete-project-btn">Delete</button>
  </form>
</article>


<script src="/javascript/editproject.js"></script>
<script src="/javascript/deleteproject.js"></script>