<div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-one-third">
              <p class="title is-1">
                Let's Get Started
              </p>
              <p class="subtitle">
                Allow people to help you get your idea off the ground!
              </p>
            </div>
            <div class="column is-two-thirds">
              <img src="https://ctl.s6img.com/society6/img/F5jbPBP1CL9AQq7rlUogyDfVGm0/w_700/prints/~artwork/s6-0027/a/13138787_9818948/~~/ideas-and-goldfish-prints.jpg?wait=0&attempt=0" style="width: 100%; height: 100%;" />
            </div>
          </div>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs">
          <div class="container has-text-success">
            <ul>
              <li>
                <a><i class="fab fa-apple"></i></a>
              </li>
              <li>
                <a><i class="fab fa-github"></i></a>
              </li>
              <li>
                <a><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a><i class="fab fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
<br/>
<br/>
    <section class="hero is-success py-4">
      <div class="hero-body">
        <p class="title">
          Join the community
        </p>
        <p class="subtitle">
         Signup and create your presence.
        </p>
      </div>
    </section>

    <div class="columns is-vcentered is-justify-content-space-evenly p-5">
      <div class="column is-one-third">
        <p class="title is-2 is-spaced">
          Outline your idea!
        </p>
        <p class="subtitle is-6">
          Why should this project be funded?
        </p>
        <button class="button is-success is-medium">Learn More</button>
      </div>
      <div class="column is-half">
        <img src="https://ctl.s6img.com/society6/img/MTYXu2rnefqWfofhZ1qM-FJEf4o/w_700/wood-wall-art/3x3/front/~artwork,bg_FFFFFFFF,fw_2601,fh_2601,fx_-547,iw_3694,ih_2601/s6-0032/a/15096065_9948178/~~/ideas-and-goldfish-04-wood-wall-art.jpg?wait=0&attempt=0" style="width: 100%; height: 100%;" />
      </div>
    </div>
    <div class="columns is-vcentered is-justify-content-space-evenly has-background-dark m-0 p-5">
      <div class="column is-one-third">
        <img src="https://ctl.s6img.com/society6/img/E7C8MRaTHTQB9p3zCj-H2pUXU6g/w_700/canvas/~artwork/s6-0012/a/3682219_1490416/~~/fishing-for-ideas-canvas.jpg?wait=0&attempt=0" alt="Banner" style="border-radius: 50%;" />
      </div>
      <div class="column is-one-third">
        <p class="title is-2 is-spaced has-text-white">
          Share
        </p>
        <p class="subtitle is-6 has-text-white">
          People with resources are looking for projects.
        </p>
        <button class="button is-success is-outlined is-medium">Learn More</button>
      </div>
    </div>


